services:
  - type: web
    name: bandersnatch-server
    repo: https://github.com/OGOZ111/AI-assistant-CLI
    branch: main
    plan: free
    root: server
    buildCommand: "npm run build"
    startCommand: "npm run start"
    autoDeploy: true
